$body-bg: #056868;

$primary: #007BFF;
$secondary: #096460;
$danger: #DC3545;
$success: rgb(23, 126, 47);
$warning: rgb(248, 224, 150);
$info: #17A2B8;
$light: rgb(248, 252, 251);
$dark: #343A40;
$white: #FFFFFF;

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;

$colors: (
"blue": $blue,
"indigo": $indigo,
"purple": $purple,
"pink": $pink,
"red": $red,
"orange": $orange,
"yellow": $yellow,
"green": $green,
"teal": $teal,
"cyan": $cyan,
"white": $white,
"gray": $gray,
"gray-dark": $gray-dark
) !default;

// .btn-primary {
//   color: $light;
//   background-color: $primary;
//   border-color: darken($color: $primary, $amount: 10);
//   border-width: medium;
// }